!DOCTYPE html>
<html lang="en">

<head>
    <title>Red Social</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <nav th:replace="fragments/nav" />
    <div class="container">
        <h2 th:text="#{friendship.request.list.header.2.list}"></h2>
        <div th:each="frequest : ${fRequestList}">
            <div class="card">
                <div class="card-header" th:text="USUARIO QUE ENVIA EL MENSAJE"></div>
                <div class="card-body">
                    <p th:text="${frequest.message}"></p>
                    <a href="METODO DE AGREGAR" class="btn btn-primary" th:text="#{friendship.request.list.button.add}"></a>
                </div>
            </div>
        </div>
    </div>
</body>