<!DOCTYPE html>
<html lang="en">
<head>
<title>Red Social</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{users.title}"></h2>
		<p th:text="#{users.description}"></p>
		<form class="navbar-form" action="/users/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por nombre o email del usuario">
			</div>
			<button type="submit" class="btn btn-default"
			th:text="#{users.search}"></button>
		</form>
		<div class="table-responsive">
			<table class="table table-hover" id="tableUsers"
				th:fragment="tableUsers" id="tableUsers">
				<thead>
					<tr>
						<th th:text="#{users.table.name}"></th>
						<th>Email</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>