<!DOCTYPE html>
<html lang="en">
<head th:replace = "fragments/head"></head>


<body>
    <nav th:replace="fragments/nav" />
    <div class="container">
        <h2 th:text="#{friendship.request.list.header.2.list}"></h2>
        <div th:each="frequest: ${fRequestList}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${frequest.userSource.email}"></h3>
                </div>
                <div class="panel-body">
                    <p th:text = "${frequest.userSource.name + frequest.userSource.lastName}"></p>
                    <a th:href = "${'/friends/accept/request/' + frequest.id}" class="btn btn-primary" th:text="#{friendship.request.list.button.add}"></a>
                </div>
            </div>
        </div>
        <footer th:replace = "fragments/pagination"></footer>    
    </div>

    <footer th:replace = "fragments/footer"></footer>
</body>
</html>