<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head">
</head>

<body>
    <nav th:replace="fragments/nav"></nav>
    <div class="container">
        <h1 th:text="${'__#{post.user.list.header.1}__ ' + ' __${username}__'}"></h1>
        <div th:each="post: ${posts}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${post.title}"></h3>
                </div>
                <div class="panel-body">
                    <dl class="list-group">
                        <dt th:text="#{post.user.list.message}"></dt>
                        <dd th:text="${post.message}"></dd>
                        <div></div>
                        <dt th:text="#{post.user.list.info}"></dt>
                        <dd>
                            <p th:text="${'__#{post.user.list.createdby}__ ' + '__${post.user.email}__'}"></p>
                            <p th:text="${'__#{post.user.list.ondate}__ '+ '__${post.date}__'}"></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>

</html>