<!DOCTYPE html>
<html lang="en">
<head th:replace = "fragments/head"></head>
<body>
    <nav th:replace="fragments/nav" />
    <div class="container">
        <h2 th:text="#{users.friends.list.header.2}"></h2>
        <div th:if="${param.error}" class="alert alert-danger">
			<strong th:text="#{friendship.request.sent.wrong}"></strong>
		</div>
		<div th:if="${param.success}" class="alert alert-success">
			<strong th:text="#{friendship.request.sent.right}"></strong>
		</div>
        <div th:each="request: ${friends}">
            <div class="panel panel-default">
                <div class="panel-heading" >
                    <h3 class="panel-title" th:text="${request.userDestiny.email}"></h3>
                </div>
                <div class="panel-body">
                    <a th:href = "${'/post/list/' + request.userDestiny.id}" th:text="${request.userDestiny.name + request.userDestiny.lastName}"></a>
                    <a th:href=" ${'/users/details/' + request.userDestiny.id}"
                     class="btn btn-primary" th:text="#{users.friends.list.details}"></a>
                </div>
            </div>
        </div>
        <footer th:replace = "fragments/pagination"></footer>    
    </div>
    <footer th:replace = "fragments/footer"></footer>
</body>
</html>