<!-- nav.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<img src="/img/student-48.png" alt="logo" />
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">

				<li><a href="/" th:text="#{NavBar.label.home}">Home</a></li>


				<li sec:authorize="isAuthenticated()" id="users-menu" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">
					<span th:text="#{NavBar.label.users.dropdown.title}"></span><span
						class="caret"></span></a>
						
					<ul class="dropdown-menu">
						<li><a href="/users/list"
							th:text="#{NavBar.label.users.dropdown.list}"></a></li>
					</ul>
				</li>

				<li sec:authorize="isAuthenticated()" id="users-menu" class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">
					<span th:text="#{NavBar.label.friends.dropdown.title}"></span>
					 <span class="caret"></span></a>
						
					<ul class="dropdown-menu">
						<li>
							<a href="/friends/requests/list"
								th:text="#{NavBar.label.friends.dropdown.request}">
							</a>
						</li>
						
						<li>
							<a href="/friends/list"
								th:text="#{NavBar.label.friends.dropdown.list}">
							</a>
						</li>
						
					</ul>
					
				</li>

			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li sec:authorize="!isAuthenticated()"><a href="/signup"> <span
						class="glyphicon glyphicon-user"
						th:text="#{NavBar.label.register}"></span>
				</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/login"> <span
						class="glyphicon glyphicon-log-in" th:text="#{NavBar.label.logIn}"></span>
				</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout"> <span
						class="glyphicon glyphicon-log-out" th:text="#{NavBar.label.logOut}"></span>
				</a></li>
			</ul>
		</div>
	</div>
</nav>